/* agendar.css */

.agendar-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.main-content {
  flex: 1;
  text-align: center;
}

.agendar-subcontainer {
  background-image: url("../../assets/img-3.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.campos-container {
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
  min-width: 60vw;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  bottom: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.texto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.texto-container h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  color: #348662;
}

.campos-agendar {
  display: flex;
  width: 60%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #f5f5f5;
}
