/* card.css */

.card {
  width: 150px;
  height: 162.3px;
  background-color: #99bbb2; /* Cor de fundo similar ao exemplo fornecido */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
}
